.fadeIn {
  animation: fadeIn 2s forwards;
  opacity: 0;
}
@keyframes fadeIn {
  to   {
    opacity: 1;
    transition: opacity linear;
  }
}

.moveLeft {
  animation: moveLeft 1s forwards;
  margin-left: 35%;
  width: 30%;
}
@keyframes moveLeft {
  to {
    margin-left: 0%;
    width: 16%;
    transition: margin-left width linear;
  }
}
.moveRight {
  animation: moveRight 1s forwards;
  margin-left: -35%;
  width: 16%;
}
@keyframes moveRight{
  to {
    margin-left: 0;
    width: 30%;
    transition: margin-left linear;
    transform: width linear;
  }
}

.appear {
  animation: appear 0s 1s forwards;
  opacity: 0;
}
@keyframes appear {
  to {
    opacity: 1;
    transition: opacity linear;
  }
}