.fadeIn {
  animation: fadeIn 2s forwards;
  opacity: 0;
}
@keyframes fadeIn {
  to   {
    opacity: 1;
    transition: opacity linear;
  }
}

.moveLeft {
  animation: moveLeft 1s forwards;
  margin-left: 39%;
  width: 22%;
}
@keyframes moveLeft {
  to {
    margin-left: 0%;
    width: 16%;
    transition: margin-left width linear;
  }
}
.moveRight {
  animation: moveRight 1s forwards;
  margin-left: -39%;
  width: 16%;
}
@keyframes moveRight{
  to {
    margin-left: 0%;
    width: 22%;
    transition: margin-left linear;
    transform: width linear;
  }
}

.appear {
  animation: appear 0s 1s forwards;
  opacity: 0;
}
@keyframes appear {
  to {
    opacity: 1;
    transition: opacity linear;
  }
}

.navbarGradient {
  /* background: linear-gradient(90deg, #4C6663 0%, rgb(6, 99, 88) 50%, #4C6663 100%); */
  background: linear-gradient(90deg, rgb(17, 68, 62) 0%, rgb(65, 95, 92) 100%);
}




